* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: hsl(227, 35%, 25%);
  color: white;
  /* background-image: url(https://images.pexels.com/photos/697662/pexels-photo-697662.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  height: 100vh;
}

h1 {
  padding: 20px;
  text-align: center;
  font-size: 40px;
  color: hsl(174, 77%, 80%);
}

.box {
  background-color: hsl(225, 20%, 60%);
  width: 400px;
  height: 220px;
  padding: 30px 20px;
  color: hsl(230, 100%, 99%);
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 hsl(174, 77%, 80%), 0 6px 20px 0 hsl(174, 77%, 80%);
}

.box p {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
}

.box img {
  max-width: 230px;
  height: 130px;
}

a {
  text-decoration: none;
}

#games {
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 50px;
}

@media (max-width: 940px) {
  #games {
    padding: 30px 10px 10px 10px;
    gap: 60px;
  }

  .box {
    width: 320px;
    height: 200px;
  }

  .box p {
    font-size: 20px;
  }

  .box h1 {
    font-size: 34px;
  }
}

@media (max-width: 750px) {
  .box {
    width: 300px;
    height: 180px;
  }

  .box h1 {
    font-size: 32px;
  }
}

@media (max-width: 675px) {
  #games {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 35px;
  }

  .box {
    width: 400px;
    height: 220px;
  }

  .box h1 {
    font-size: 40px;
  }
}

@media (max-width: 440px) {
  .box {
    width: 300px;
    height: 200px;
  }

  .box h1 {
    font-size: 32px;
  }
}

@media (max-width: 420px) {
  #games {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .box {
    width: 260px;
    height: 180px;
  }

  .box h1 {
    font-size: 32px;
  }
}
